@font-face {
    font-family: 'shabnam';
    src:  url('assetes/fonts/Shabnam.woff2') format('woff2'),
          url('assetes/fonts/Shabnam.woff') format('woff');
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

*{
    margin: 0;
    padding: 0;
    font-family: 'shabnam';
    box-sizing: border-box;
}

.rtl{
    direction: rtl;
}

.header-right-div{
    position: relative;

}

.logo-div{
    position: absolute;
    top: 0;
    width: 20%;
    height: auto;
    margin-top: 10%;
    margin-left: 15%;
}

.logo-name{
    color: #007B5A;
}

.dl-btn{
    background-color: #f7784e;
    width: 7rem;
    height: 2.2rem;
    border: 0.15rem solid black;
    border-radius: 2rem;
    margin-top: 0.7rem;

}

.block1-left-img{
    width: 30rem;
}

.block1-right-text{
    width: 20rem;
}

.block1-title{
    color: #007B5A;
    font-size: 2.2rem;
}

.block1-title-text{
    border-bottom: 0.1rem solid #007B5A;
}

.block1-text{
    font-size: 0.8rem;
    text-align: justify !important;
    text-justify: auto ;
}

.block1-wave{
    opacity: 0.5;
}

.block2-left-text{
    width: 30%;
}

.block2-list-center{
    width: 40%;
    height: 100%;
}

.block2-img-right{
    width: 30%;
    height: 41rem;
    justify-self: center;
    align-content: center;
}

.block2-title-text{
    color: #007B5A;
    font-size: 1.6rem;
}



.block2-text{
    text-align: justify;
    text-justify: auto;
}

.block2-list-line{
    position: absolute;
    width: 0.1rem;
    height: 43rem;
    border-left: 0.2rem solid #007B5A;
}

.img-list-line{
    opacity: 0;
    width: 0;
}

.block2-list-img{
    width: 5rem;
    height: 5rem;
    padding: 0.8rem;
    border-radius: 50%;
    border: 0.1rem solid #007B5A;
    margin-bottom: 15%;
    fill: #007B5A;
}


.list-image{
    fill: #007B5A;
}

.block3-title-text{
    color: #007B5A;
    font-size: 1.6rem;
}

.block3-dl-box{
    padding-left: 25%;
}

.block3-dl-icon-div{
    width: 5rem;
}

.block3-dl-btn{
    position: absolute;
    width: 7rem;
    height: 2.2rem;
    background-color: #f34c15;
    border-radius: 50rem;
}

.block3-num-input{
    margin-left: 5rem;
    width: 12rem;
    height: 2.1rem;
    background-color: #9797975d;
    outline: none;
    border: 0.1rem solid rgba(0, 0, 0, 0.171);
    border-left: 01rem solid transparent;
    border-radius: 20rem;
    padding-left: 1.5rem;
}

.block3-num-input::placeholder{
    color: rgba(0, 0, 0, 0.274);
}

.block3-dl-green-btn {
    background-color: #00CE9E;
    width: 7rem !important;
    height: 2.2rem;
    border-radius: 50rem;
}

.dl-green-btn-text{
font-size: 0.6rem;
}

.dl-green-btn-img{
    width: 1.2rem;
}

.block-4-div{
    position: relative;
}

.block4-text-div{
    position: absolute;
    top: 5%;
    bottom: 0;
    height: 100%;
    left: 20%;
    margin-right: 0;
    padding-right: 0;
}

.block-4-bg{
    top: 0;
    z-index: -1;
}

.block4-title{
    font-size: 1.6rem;
}

.block4-amadegi-btn{
    background-color: #f34c15;
    width: 10rem;
    height: 2.2rem;
    border-radius: 5rem;
}

.ready-orange-btn-text{
    font-size: 1.2rem;
}

.block-4-bg-mobile{
    height: 18rem;
}


.block5-title-text{
    color: #007B5A;
    font-size: 1.5rem;
}

.block5-text{
    text-align: justify;
}

.block5-img-slider{
    width: 99%;
    height: 18rem;
    overflow-x: scroll;
}

.block5-img{
    width: 20rem !important;
    height: 15rem;
}

.block5-email-input{
    margin-left: 5rem;
    width: 20rem;
    height: 2.1rem;
    background-color: #9797975d;
    outline: none;
    border: 0.1rem solid rgba(0, 0, 0, 0.171);
    border-left: 01rem solid transparent;
    border-radius: 20rem;
    padding-left: 1.5rem;
    padding-right: 0.5rem;
}

.block5-email-input::placeholder{
    color: rgba(0, 0, 0, 0.274);
    direction: rtl;
    text-align: right;
    
}

.footer-div-desktop{
    position: relative;
}

.footer-bg{
    z-index: -2;
}

.footer-text-div{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-email-div{
    position: absolute;
    bottom: 3%;
    margin-left: 8%;
}

.footer-social-div{
    margin-left: 25%;
    position: relative;
}

.social-acc-div{
    width: 4rem;
    height: 4rem;
    padding-top: 0.7rem;
    position: absolute;
}

.social-acc-div:hover{
    cursor: pointer;
    background-color: rgb(221, 221, 221) !important;
}

.social-acc{
    font-size: 2.5rem;
}

.telegram-div{
    top: 33%;
}

.instagram-div{
    top: 15%;
    left: 26%;
}

.twitter-div{
    top: -2%;
    left: 50%;
}

.footer-links-div{
    position: absolute;
    left: 35%;
    bottom: 5%;
}

.footer-right-bg{
    z-index: -1;
}

.right-bg{
    position: absolute;
    right: 0;
    bottom: 0;
}

.right-footer-img{
    position: absolute;
    width: 4rem;
    height: 4rem;
    left: 35%;
    top: -10%;
}

.right-footer-text-div{
    position: absolute;
    width: 80%;
    right: 10%;
    bottom: 5%;
}

@media only screen and (max-width: 1900px) {
    .block2-title-text{
        font-size: 1.55rem;
    }

    .header-left-div{
        padding-right: 10rem !important;
    }

    .block4-text-div{
        left: 10%;
    }
    .social-acc-div{
        width: 3rem;
        height: 3rem;
    }

    .social-acc{
        font-size: 1.7rem;
    }

    .footer-text-div{
        margin-right: 0 !important;
    }

    .right-footer-img{
        width: 3rem;
        height: 3rem;
    }

    .right-footer-text-div{
        width: 75%;
        font-size: 0.65rem;
        bottom: 1%;
    }
}

@media only screen and (min-width: 992px) {
    .myMenu{
        justify-content: center;
        align-items: flex-start;
    }

    .block3-main-box{
        border: 0.1rem solid transparent;
        border-radius: 2rem;
    
        -moz-box-shadow:    inset 0 0 10px #00000055;
       -webkit-box-shadow: inset 0 0 10px #00000055;
       box-shadow:         inset 0 0 10px #00000055;
    }

}

@media only screen and (max-width: 992px) {
    .myMenu{
        width: 90% !important;
    }

    .header-right-div{
        position: relative;
        left: 20%;
    }

    .myMenu{
        width: 100%;
        background-color: #E0E0E0;
        padding-top: 0 !important;
        justify-content: space-between;
        align-items: center;
    }

    .menu-toggle-button{
        background-color: #E0E0E0;
        border: none;
        color: #007B5A !important;
    }

    .fa-search{
        position: absolute;
        top: 0;
        left: 0;
        color: #007B5A !important;
        font-size: 2rem;
    }

    .block-1{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        padding-top: 0;
    }

    .block1-left-img{
        width: 20rem;
    }

    .block2-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between !important;
        padding: 0;
        margin-left: 0;
        }

    .block2-list-center{
        order: 1;
        display: flex;
        flex-direction: row !important;
        justify-content: space-around !important;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 0.5rem;
    }

    .block2-img-right{
        order: 2;
        width: 90%;
    }

    .block2-left-text{
        padding-top: 1rem;
        order: 3;
        width: 90%;
        text-align: center;
    }

    .block2-list-img{
        width: 3rem;
        height: 3rem;
        margin: 0 !important;

    }

    .block2-text{
        text-align: justify;
    }

    .block3-container{
        padding: 0;
        padding-left: 4%;
    }

    .block3-dl-box{
        padding-left: 7%;
    }

    .block3-dl-icon-div{
        margin-left: 35%;
    }

    .block3-direct-dl-div{
        display: flex;
        flex-direction: column;
    }

    .block4-text-div{
        left: 0;
    }

    .block5-img-slider{
        padding-left: 15rem;
        overflow-x: scroll;
    }

    .block5-img{
        width: 15rem !important;
        height: 10rem;
    }

    .block5-email-input{
        background-color: #fff;
        width: 100%;
        margin-left: 0;
        border: 0.1rem solid rgba(0, 0, 0, 0.171);
    }

    .block5-email-btn{
    width: 7rem;
    height: 2.2rem;
    background-color: #f34c15;
    border-radius: 50rem;
    margin-left: 25%;
    }

    .email-input{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }

    .block5-email-div{
        background-color: #E2FFFA;
    }

    .footer-div-mobile{
        background-color: #007F62;
        height: auto;
        padding-bottom: 3rem;
    }

    .social-mobile-icon-div{
        width: 3rem;
        height: 3rem;
        padding-top: 0.4rem;
        padding-right: 0.15rem;
    }

    .social-mobile-icon{
        font-size: 2rem;

    }

    .footer-mobile-link{
        font-size: 0.8rem;
    }

    .footer-mobile-logo{
        width: 3rem;
        height: 3rem;
    }

  }